body {
  position: relative;
}

.navbar-dark .navbar-brand {
  color:#fff !important;
}

#collapseEx2 .navbar-nav li a.active {
  background:rgba(255,255,255,.15);
}

#home .view {
  height: 100vh;
}

.full-bg-img {
  color: #000000;
}

#home p, .title{
  font-weight:100;
}

/*Fixed background*/
.fixed-bg {
  background: url("https://mdbootstrap.com/images/regular/work/img%20(1).jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 55vh;
}

main {
  margin-bottom: -20px;
}